* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}


@font-face {
    font-family: a;
    src: url(Gilroy-Light.otf);
}

@font-face {
    font-family: b;
    src: url(HelveticaNowText-Regular.ttf);
}

@font-face {
    font-family: c;
    src: url(Futura-Bold.ttf);
}


#nav {
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav #nav-left h2 {
    width: 250px;
    font-size: 4vw;
    font-family: c;
    line-height: 3.7vw;
    letter-spacing: -5px;
    background: linear-gradient(90deg, #0a2342, #19385c, #274d77); /* dark blue tones */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black; /* fallback */
}

#nav #nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav #nav-right #nav-icons a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    margin-right: 50px;
    font-family: b;
}

#nav #nav-right #nav-links a {
    text-decoration: none;
}

#nav-links {
    padding: 10px 0;
    border-radius: 50px;
    background-color: #fff;
}

#nav #nav-right #nav-links i {
    font-size: 15px;
    color: #000;
    margin: 0 23px;
}


.page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page2 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.page2 .upper {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000;
}

.page2 .upper h1 {
    font-size: 6vw;
    font-family: b;
    color: #fff;
}

.page2 .upper h2 {
    font-size: 2vw;
    font-family: a;
    color: #fff;
    margin-bottom: -3vw;
}

.page2 .upper img {
    height: 200px;
    width: 320px;
}



@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.page2 .down {
  columns: 300px;
  padding: 25px;
}

.page2 .down img {
  width: 100%;
  margin-bottom: 1em;
  opacity: 0;
  transform: scale(0.5);
  transition: none;
}

.page2 .down img.visible {
  animation: appear 0.6s ease forwards;
}


.page3 {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.page3 .upper {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000;
}

.page3 .upper h1 {
    font-size: 6vw;
    font-family: b;
    color: #fff;
}

.page3 .upper h2 {
    font-size: 2vw;
    font-family: a;
    color: #fff;
    margin-bottom: -3vw;
}

.page3 .upper img {
    height: 200px;
    width: 320px;
}


/* blog1 */


.page3 .blog1 {
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3 .blog1 .blogs {
    position: relative;
    height: 100%;
    width: 50%;
}

.page3 .blog1 .blogs .slider {
    height: 95%;
    width: 95%;
}

.page3 .blog1 .blogs .arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.page3 .blog1 .blogs .arrows button {
  font-size: 2vw;
  padding: 8px 15px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: all; 
  transition: ease-in-out .5s;
}

.page3 .blog1 .blogs .arrows button:hover {
    background-color: #fff;
    color: #000;
}

.page3 .blog1 .blogs .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3 .blog1 .blogs .slider img:not(img:first-child) {
    display: none;
}

.page3 .blog1 .txt {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page3 .blog1 .txt h1 {
    font-size: 5vw;
    font-family: a;
    color: #fff;
}

.page3 .blog1 .txt h3 {
    width: 500px;
    font-size: 1.2vw;
    line-height: 1.9vw;
    text-align: center;
    margin-top: 2vw;
    font-weight: 200;
    font-family: a;
    color: #fff;
}

 /* blog 2 */

.page3 .blog2 .txt {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page3 .blog2 .txt h1 {
    font-size: 5vw;
    font-family: a;
    color: #fff;
}

.page3 .blog2 .txt h3 {
    width: 500px;
    font-size: 1.2vw;
    line-height: 1.9vw;
    text-align: center;
    margin-top: 2vw;
    font-weight: 200;
    font-family: a;
    color: #fff;
}


.page3 .blog2 {
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3 .blog2 .blogs {
    position: relative;
    height: 100%;
    width: 50%;
}

.page3 .blog2 .blogs .slider1 {
    height: 95%;
    width: 95%;
}

.page3 .blog2 .blogs .arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.page3 .blog2 .blogs .arrows button {
  font-size: 2vw;
  padding: 8px 15px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: all; 
  transition: ease-in-out .5s;
}

.page3 .blog2 .blogs .arrows button:hover {
    background-color: #fff;
    color: #000;
}

.page3 .blog2 .blogs .slider1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3 .blog2 .blogs .slider1 img:not(img:first-child) {
    display: none;
}


/* blog3 */



.page3 .blog3 {
    height: 55vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3 .blog3 .blogs {
    position: relative;
    height: 100%;
    width: 50%;
}

.page3 .blog3 .blogs .slider2 {
    height: 95%;
    width: 95%;
}

.page3 .blog3 .blogs .arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.page3 .blog3 .blogs .arrows button {
  font-size: 2vw;
  padding: 8px 15px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: all; 
  transition: ease-in-out .5s;
}

.page3 .blog3 .blogs .arrows button:hover {
    background-color: #fff;
    color: #000;
}

.page3 .blog3 .blogs .slider2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3 .blog3 .blogs .slider2 img:not(img:first-child) {
    display: none;
}

.page3 .blog3 .txt {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page3 .blog3 .txt h1 {
    font-size: 5vw;
    font-family: a;
    color: #fff;
}

.page3 .blog3 .txt h3 {
    width: 500px;
    font-size: 1.2vw;
    line-height: 1.9vw;
    text-align: center;
    margin-top: 2vw;
    font-weight: 200;
    font-family: a;
    color: #fff;
}


.page4 {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.page4 .upper {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000;
}

.page4 .upper h1 {
    font-size: 6vw;
    font-family: b;
    color: #fff;
}

.page4 .upper h2 {
    font-size: 1.2vw;
    font-family: a;
    color: #fff;
    margin-bottom: -3vw;
}

.page4 .upper img {
    height: 200px;
    width: 320px;
}

.page4 .down {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.page4 .down .down-left {
    height: 100%;
    width: 49%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page4 .down .down-left .inner {
    height: 98%;
    width: 57%;
}

.page4 .down .down-left .inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page4 .down .down-right {
    height: 100%;
    width: 49%;
}

.page4 .down .down-right .txt {
    height: 32%;
    width: 100%;
    margin-top: .6vw;
}

.page4 .down .down-right .txt h2 {
    font-size: 4vw;
    font-family: a;
    color: #fff;
}

.page4 .down .down-right .txt h3 {
    font-size: 1vw;
    font-family: a;
    width: 700px;
    font-weight: 300;
    margin-top: .7vw;
    color: #fff;
}

.page4 .end {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.page4 .end img {
    height: 200px;
    width: 270px;
}

.page4 .end1 {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page4 .end1 .txt-up {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.page4 .end1 .txt-up h3 {
    font-size: 1vw;
    font-family: b;
    font-weight: 500;
    color: #fff;
}

.page4 .end1 .txt-down {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4 .end1 .txt-down h3 {
    font-size: 1vw;
    font-family: b;
    font-weight: 500;
    color: #fff;
}